<% if Task.all.size.eql? 0 %>
  <i><h4>Нет задач</h4></i>
<% else %>
<table>
  <tr>
    <th><%=t("Название класса")%></th>   
  </tr>

<% @tasks.each do |task| %>
  <tr class='<%= cycle('even', 'odd') %>'>
    <td id='title'><%= link_to task.title, task_path(task) %></td>
  </tr>
<% end %>
</table>
<% end %>






