<% if Categorydanger.all.size.eql? 0 %>
   <i><h4>Нет категорий</h4></i>
<% else %>

<table id='tablecat'>
  <tr>


<%= nested_categorydangers @categorydangers.arrange %>


  </tr>

</table>
<% end %>

    
<% if can? :all, Categorydanger %>
  <br />
  <%= link_to t('New categorydanger'), new_manage_categorydanger_path, :class => 'button spade' %>
<% else %>
  <h4><%= "Вы не можете управлять категориями, для того чтобы это исправить обратитесь к вашему администратору." %></h4> 
<% end %>



