<h3><%= User.find_by_id(@request_user.user_id).fio %></h3>
<h4><%= 'Коментарий' %></h4>
<%= @request_user.value %><br /><br />
<%= link_to t('Back'), task_request_path(@task, @request), :class => 'button light' %>


