<div class="fields">
  <p>
    <%= f.label :level, "Question" %><br />
    <%= f.text_area :level, :rows => 3 %><br />
    <%# f.check_box :_destroy %>
    <%# f.label :_destroy, "Remove Question" %>
    <%= link_to_remove_fields "remove", f %>
  </p>  
</div>
