<% if Criterion.all.size.eql? 0 %>
   <i><h4>Нет критериев</h4></i>
<% else %>

<table>
  <tr>
    <th><%=t("Title")%></th>
  </tr>

<% @criterions.each do |criterion| %>
  <tr class='<%= cycle('even', 'odd') %>'>       
    <td id='title'><%= link_to criterion.title, criterion %></td>   
  </tr>
<% end %>
</table>

<% end %>

<% if Criterion.all.size.>= 10 %>
<div class="digg_pagination">
  <br /><%= will_paginate @criterions, :container => false %>
</div>
<% end %>




