<ol>
<% for level in @criterion.levels %>
  <li>
    <%= level.level %>
  </li>
<% end %>
</ol>

<p>
  <%= link_to t("Edit"), edit_criterion_path(@criterion) %> |
  <%= link_to t("Destroy"), @criterion, :confirm => t('Are you sure?'), :method => :delete %> |
  <%= link_to t("View All"), criterions_path %>
</p>
