<ol>
<% for level in @criterion.levels %>
  <li>
    <%= level.level %>
  </li>
<% end %>
</ol>

<p>
  <%= link_to "Edit", edit_criterion_path(@criterion) %> |
  <%= link_to "Destroy", @criterion, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", criterions_path %>
</p>
